<div class = "follow_form" id = "follow_form_<%= user.id %>">
	<% if @current_user.friend?(user) %>
	<%= render 'relationships/unfollow', :user => user %>
	<% else %>
	<%= render 'relationships/follow', :user => user %>
	<% end %>

	
</div>
