<div class = "user_summary round">
	<ul class = "summary_left">
<li>
	<h3><%= link_to "#{user.name}", user %></h3>
</li>
<li><%= "Joined on #{user.created_at}" %></li>
</ul>
<div class = "summary_right">
	<% unless @current_user == user %>
	<%= render 'relationships/follow_form', :user => user %>
	<% end %>
</div>
</div>