/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container{
 	width: 800px;
 	margin: auto auto auto 75px;
 	height: 100%;
 	padding: 5px;
 	position: relative;
 	
 }

 .header{
 	height: 25px;
 	background-color: #DDEBDD;
 	border-bottom: 1px solid #C2C2CF;
 	padding-top: 10px;

 	nav{
 		display: inline-block;
 	}

 	.header_left{
 		margin-left: 50px;

 		a{
 			font-size: 120%;
 		}
 	}

 	.header_right{
 		float: right;
 		margin-right: 250px;
 		
 	}

 	.magic{
 		margin-left: 200px;

 		div{
 			display: inline-block;
 		}

 		

 		form{
 			display: inline-block;
 			padding: 0px;
 			margin-top: -5px;
 		}
 	}
 }

 .left_col{
 	width: 150px;
 	height: 100%;
 	float: left;
 	
 	padding: 5px;
 	position: relative;

 	.user_name{
 		font-size: 120%;
 	}

 	li{
 		margin-bottom: 10px
 	}
 }


 .main_content{
 	float: left;
 	min-width: 200px;
 	max-width: 500px;
 	width: 100%;
 	min-height: 100%;
 	padding: 5px 5px 5px 25px;
 	border-left: 1px solid #C2C2CF;

 	.title{
 		margin-bottom: 15px;
 	}

 }

