// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post{
	width: 350px;
	border: 1px solid #C2C2CF;
	height: 100%;
	padding: 5px 5px 10px 15px;
	margin-bottom: 10px;
	word-wrap: break-word;

	li{
		margin-bottom: 5px;
	}

	.post_created{
		font-size: 90%;
		color: #606366;
	}

	.delete_post{
		float: right;
		margin-right: 10px;
	}

}

.new_post{
	margin-bottom: 10px;
	width: 425px;
	height: 160px;

	textarea{
		resize: none;
	}

	input[name=commit]{
		float: right;
	}
}