<div class = "left_col">
	<ul>
<li><%= link_to "#{@current_user.name}", @current_user, :class => "user_name" %></li>
<li><%= link_to "Who's on Face?", users_path %></li>
<li><%= link_to "My friends", friends_user_path(@current_user) %></li>
</ul>
</div>